.rootCustomButton,
.rootCustomSmallButton {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rootCustomButton button {
  border-radius: 20px;
  padding: 6px 14px;
}

.rootCustomSmallButton button {
  border-radius: 8px;
  padding: 3px 6px;
}

.btnCustom {
  cursor: pointer;
  font-weight: 600;
}

.btnCustom:active {
  border: solid rgb(255, 255, 0) 2px;
  position: relative;
  box-shadow:
    rgba(255, 255, 0, 0.25) 0px 6px 55px,
    rgba(255, 255, 0, 0.12) 0px -12px 30px,
    rgba(255, 255, 0, 0.12) 0px 4px 6px,
    rgba(255, 255, 0, 0.17) 0px 12px 13px,
    rgba(255, 255, 0, 0.09) 0px -3px 5px;
}
